@use "../../styles/colors";

$circle-width: 1.5rem;

.item {
    display: flex;
    position: relative;
}
.item:last-child::before {
    display: none;
}
.item::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    background-color: colors.$lightgray;
    left: 0.75rem;
    top: 1rem;
}

.circle {
    width: $circle-width;
    height: $circle-width;
    margin: 0.5rem 0.5rem 0.5rem 0;
    background-color: colors.$blue;
    border-radius: 50%;
    z-index: 1;
}
.content {
    flex: 1;
    margin-bottom: 2rem;
    .card {
        border: 1px solid colors.$lightgray;
        border-radius: 5px;
        padding: 1rem;

        
    }
}

@media (prefers-color-scheme: dark) {
    .item::before {
        background-color: colors.$darkgray;
    }
    .content {
        .card {
            border: 1px solid colors.$darkgray;
        }
    }
}
