@use "../../styles/colors";

.experiencia {
    h2 {
        margin: 0.2rem 0;
    }
    p {
        margin: 0.1rem 0;
        color: colors.$gray;
    }

    .company {
        color: colors.$darkgray;
        font-weight: 500;
    }

    .tags {
        margin-top: 1rem;
        display: flex;
        gap: 0.75rem;
        flex-wrap: wrap;
        .tag {
            padding: 0.5rem;
            background-color: colors.$lightgray;
            border-radius: 12.5px;
            font-size: 0.8rem;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .experiencia {
        p {
            margin: 0.1rem 0;
            color: colors.$gray;
        }

        .company {
            color: colors.$lightgray;
        }

        .tags {
            .tag {
                border: 1px solid colors.$gray;
                background-color: transparent;
            }
        }
    }
}
