@use "./colors";
.form {
    .input {
        padding: 0.5rem;
        border-radius: 8px;
        width: 300px;
        max-width: 100%;
        border: 1px solid gainsboro;
        background-color: transparent;
    }
}

.wrapper {
    text-align: center;

    h3 {
        font-weight: 400;
    }
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: fit-content;
    margin: auto;
    h2 {
        font-size: 4rem;
        margin: 0;
    }
}

.loader {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}
@media (prefers-color-scheme: dark) {
    .form {
        .input {
            color: colors.$lightgray;
        }
    }
}
